<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookin Details</title>
    
    <a href="{% url 'driver_page'%}">Driver Details</a>
</head>
<body>
    <section class="">
        <h1>WELCOME TO YY BUS COMPANY
        <h2>BOOKING DETAILS</h2>
    </section>
        
      <form action="#">
        <div id="menu-div"> 
            
            <p><input type="booking_id" name="Booking_id" id="menu-div" placeholder="Booking_id"></p>
            <p><input type="text" name="Customer_name" id="menu-div" placeholder="Customer_name"></p>
            
            
           
            <p><input type="text" name="Contact" id="menu-div" placeholder="Contact"></p>
           
            <p><input type="text" name="Seat_no" id="menu-div" placeholder="Seat_no"></p>
          
            <p><input type="trip_id" name="Trip_id" id="menu-div" placeholder="Trip_id"></p>
           
            
            
           
            <ul id="task-list">
                    
                <p><button id="btn-add" onclick="AddTask()">AddTask</button></p> 
                </ul>     

        </div>

        
          <table>
            <tr>

          <table width="700px" border="4px">
                <th>Booking_id</th>
                <th>Customer_name</th>
                
                <th>Contact</th>
                <th>Seat_no</th>
                
                <th>Trip_id</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Paul</td>
                <td>+256 784784618/td>
                <td>21</td>
                <td>1</td>
                
            </tr>

            <tr>
                <td>2</td>
                <td>Silas</td>
                <td>+256 78475454618/td>
                <td>15</td>
                <td>2</td>
                
            </tr>

            <tr>
                <td>3</td>
                <td>John</td>
                <td>+256 784784432/td>
                <td>10</td>
                <td>3</td>
                
            </tr>

            <tr>
                <td>4</td>
                <td>Sam</td>
                <td>+256 78367618/td>
                <td>20</td>
                <td>4</td>
                
            </tr>
            
            </tr>
            </tr>
            
          </table>
          
          
    
</body>
</html>