<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Details</title>
    
</head>

        <a href="{% url 'index_page'%}">Back Home</a>
        <a href="{% url 'driver_page'%}">Driver Details</a>
</body>

    <section class="#">
        <h1>WELCOME TO YY BUS COMPANY
        <h2>BUS DETAILS</h2>
    </section>
    <div class="container-2">
        <p><form action="form-group" id="space" method="POST"></form></p>
        
            
    

    <form action="#">
       

        <p><input type="bus_id" name="Bus_id" id="input1" placeholder="Bus_id" onkeyup="checkInput"></p>
        <p><input type="Plate_no" name="Plate_no" id="input2" placeholder="Plate_no" onkeyup="checkInput"></p>
        <p><input type="text" name="Model" id="input3" placeholder="Model" onkeyup="checkInput"></p>
         
        <p><input type="text" name="Brand" id="input4" placeholder="Brand" onkeyup="checkInput"></p>
        <p><input type="capacity" name="Capacity" id="input5" placeholder="Capacity" onkeyup="checkInput" ></p>
         
        <ul id="task-list">
                    
            <p><button id="btn-add" onclick="AddTask()">AddTask</button></p> 
             
        </ul>
          
      
      </div>
       
          
          <table>

            <table width="1000px" border="1px" height="200">

            <tr>
                <th>Bus_id</th>
                <th>Plate_no</th>
                <th>Model</th>
                <th>Brand</th>
                <th>Capacity</th>
                
            </tr>
            <tr>
                <td>1</td>
                <td>UAX 44B</td>
                <td>Toyota</td>
                <td>Subaru</td>
                <td>30</td>
            </tr>
            <tr>
                <td>2</td>
                <td>UAZ 41A</td>
                <td>Toyota</td>
                <td>Hilux</td>
                <td>35</td>
            </tr>
            <tr>
                <td>3</td>
                <td>UAU 28B</td>
                <td>Toyota</td>
                <td>Hammer</td>
                <td>48</td>
            </tr>
            <tr>
                <td>4</td>
                <td>UAP 21X</td>
                <td>Toyota</td>
                <td>Pickup</td>
                <td>58</td>
            </tr>
            <tr>
                <td>5</td>
                <td>UAA 22B</td>
                <td>Toyota</td>
                <td>Drone</td>
                <td>60</td>
            </tr>
          </table>

        
     
</body>

</html>