<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <a href="{% url 'bus_page'%}">Bus Details</a>
    <a href="{% url 'driver_page'%}">Driver Details</a>
    
    
</head>
<body>
    

    <section class="hero">
        <h1>WELCOME TO YY BUS SERVICES</h1>
        <h2>LOCATION</h2>
        <P>We are located at plot 89 p.o.box 11 Soroti(u)</P>
        <h2>OUR SERVICES</h2>
        <p>We provide transport services at cheap prices to different parts of the country</p>
        <h2>CONTACT US ON</h2>
        <P>You can contact us on 0771459421/0786003117/0742279145</P>
        
    </section>